<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} | Street Noise NYC</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Street Noise NYC</a>
      <div>
        <a href="/complaints/browse">Browse</a>
        <a href="/complaints/hotspots">Hotspots</a>
        {{#if user}}
          <a href="/users/dashboard">Dashboard</a>
          <a href="/users/logout">Logout</a>
        {{else}}
          <a href="/users/login">Login</a>
          <a href="/users/register">Register</a>
        {{/if}}
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>