<h1>Create an account</h1>
{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}
<form method="POST" action="/users/register">
  <label>Username</label>
  <input type="text" name="username" required />
  <label>Email</label>
  <input type="email" name="email" required />
  <label>Password</label>
  <input type="password" name="password" required />
  <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="/users/login">Log in</a></p>